section {
    display: flex;
    flex-direction: row; /*put all flex items horizontally in a row*/
    flex-wrap: wrap; /*wraps whenever it doesn't have space*/
    justify-content: center; /*main axis*/
    align-items: center;
    align-content: space-between;
    gap: 10px; /*similar to margin*/
    height: 90vh;
    border: 2px dotted black;
}
.red {
    order: -1;
    height: 75px;
    background-color: red;
}
.green {
    height: 125px;
    background-color: green;
}
.blue {
    height: 100px;
    background-color: blue;
}
div {
    border: 5px solid black;
    padding: 0.5rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}